@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.section {
	position: relative;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 100vw;
	padding: 4rem;
	box-sizing: border-box;
	z-index: 10;
}

.main-title {
	text-align: center;
	font-size: 3rem;
}

.section-two {
	background: url('https://source.unsplash.com/random/?architecture,minimal');
	background-size: cover;
}

.section-two-title {
	color: white;
	font-size: 3rem;
	mix-blend-mode: difference;
}

.section-two-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	height: 100vh;
	width: 100vw;
	padding: 4rem;
	box-sizing: border-box;
}

.photo-grid {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 1rem;
	padding: 1.2rem;
	box-sizing: border-box;
}

.grid-photo {
	width: 100%;
	height: 100%;
	background-size: cover;
}

.grid-photo:nth-child(1) {
	background: url('https://source.unsplash.com/random?flowers');
	background-position: center;
}

.grid-photo:nth-child(2) {
	background: url('https://source.unsplash.com/random?time');
	background-position: center;
}

.grid-photo:nth-child(3) {
	background: url('https://source.unsplash.com/random?street');
	background-position: center center;
}

.grid-photo:nth-child(4) {
	background: url('https://source.unsplash.com/random?desk');
	background-position: center;
}

.section-three {
	color: white;
	background-size: cover;
	background-color: black;
	overflow: hidden;
}
