@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	font-family: 'Roboto', sans-serif;
}

.section {
	position: relative;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.main-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 100vw;
	padding: 4rem;
	box-sizing: border-box;
}

.main-title {
	text-align: center;
	font-size: 3rem;
}

.section-two {
	background: url('https://source.unsplash.com/random/?architecture,minimal');
	background-size: cover;
}

.section-two-title {
	color: white;
	font-size: 3rem;
	mix-blend-mode: difference;
}

.section-two-title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	height: 100vh;
	width: 100vw;
	padding: 4rem;
	box-sizing: border-box;
}

.people-grid {
	display: grid;
	width: 100vw;
	height: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.people-photo {
	width: 100%;
	height: 100%;
	background: url('https://source.unsplash.com/random?face');
	background-position: center;
}
