.icon-text-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0.5rem;
	max-width: 19rem;
}

.icon-text-card-icon {
	height: 3rem;
	width: 3rem;
	margin: 0.5rem;
}

.icon-text-card-title {
	font-weight: bold;
	margin: 1rem;
}

.icon-text-card-text {
	font-size: calc(0.8rem + 0.5vw);
	min-width: 10rem;
}
