.section:nth-child(2) {
	background: url('https://images.unsplash.com/photo-1592240668172-dd3bbca235d7?q=80&w=1080');
	background-size: cover;
	padding: 4rem;
	box-sizing: border-box;
}

.section:nth-child(2) > * {
	mix-blend-mode: difference;
	color: white;
	padding: 2vh 0;
}

.section:nth-child(2) > *:first-child {
	font-size: 3rem;
}

.section:nth-child(2) > *:last-child {
	font-size: 1rem;
}
